html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#neutralinoapp {
  width: 100%;
  height: 100%;
  background: #FFD700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}
